*
{
    margin:0px;
    padding:0px;
}

#main
{
    padding:40px 20px;
    text-align:center;
}
#main td
{
    font-size:22px;
}

#main input
{
    width:250px;
    height:30px;
    margin:10px 20px;
}

#main input[type="button"]
{
    font-size:18px;
}

#tableData th,#tableData td
{
    font-size: 18px;
    padding:8px;
    text-align: center;
}